@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cal+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cal+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playpen+Sans+Hebrew:wght@100..800&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Playpen Sans Hebrew", cursive;
    font-optical-sizing: auto;
    font-size: 12px;
    font-style: normal;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px brown (0, 0, 0, 0.1);
    font-family: "Bad Script" cursive;
}

/* Logo */
.logo img {
    height: 40px;
}

/* Enlaces horizontales para escritorio */
.nav-desktop {
    display: flex;
    gap: 20px;
}

.nav-desktop a {
    text-decoration: none;
    color: brown;
    font-weight: 500;
    font-family: "Bad Script" cursive;
}

/* Botón hamburguesa (oculto en escritorio) */
.hamburger {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: #6d3c11;
}

/* Sidebar móvil */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    /* empieza oculto */
    width: 250px;
    height: 100%;
    background-color: #6d3c11;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.4s ease-in-out;
    z-index: 999;
}

.sidebar.active {
    right: 0;
}

.sidebar-nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-family: "Bad Script" cursive;
    font-size: 18px;
}

/* Botón cerrar (X) */
.close-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    color: white;
}

/* Fondo oscuro */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white (0, 0, 0, 0.3);
    display: none;
    z-index: 999;
}

.overlay.show {
    display: block;
}

/* main */
/* Hero section */
.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    height: 100vh;
}

.hero-title {
    font-family: 'Bad Script', cursive;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.hero-credits {
    color: #fff;
    font-size: 9px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero-credits a {
    color: #fff;
}

/* Instructions section */
/* Instruments section */
.instruments-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px;
}

.instruments-title {
    font-family: 'Bad Script', cursive;
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
    margin: 0;
}

.instrument {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.966);
    border-radius: 12px;
    border: #6D3C11 solid 4px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 24px;
}

.instrument img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 10px 10px 0 0;
    border-bottom: #6D3C11 solid 4px;
}

.instrument-credits {
    font-size: 0.5rem;
    color: #484848;
    text-align: end;
}

.instrument-credits a {
    color: #484848;
}

figure {
    margin: 0;
}

.instrument-name {
    font-family: 'Bad Script', cursive;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin: 0;
}

.instrument-description {
    font-size: 1rem;
    color: #000000;
    text-align: start;
    margin: 0;
    padding: 12px;
}

/*about*/
.about {
    background-color: #484848;
}
.titulosn {
    font-family: 'Bad Script', cursive;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}
/* cards css */
.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 16px;
}

.card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.966);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 24px;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.about-title {
    font-size: 1.5rem;
}

.card p {
    margin: 8px 0;
    font-size: 1rem;
    color: black;
    font-family: "Playpen Sans Hebrew", cursive;
    padding: 12px;
    text-align: left;
}

/* Footer */

.copyr {
    text-align: center;
    margin: 20px 0 10px 0;
    color: #000000;
    font-size: 0.9rem;
}

/* Media queries */
@media (max-width: 768px) {
    .nav-desktop {
        display: none;
    }

    .hamburger {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .photos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 24px;
    }
    .card {
        width: 45%;
        margin-bottom: 0;
    }
    .card img {
        height:300px;
    }
    .about-title {
        font-size: 1.7rem;
    }
    .card p {
        font-size: 1.05rem;
    }
}
@media (min-width: 1025px) {
     .photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    }
    .card {
        width: 22%;
        margin: 12px;
        box-sizing: border-box;
    }
    .card img {
        height: 250px;
         width: 100%;
        height: auto;
    }
    .about-title {
        font-size: 1.8rem;
    }
    .card p {
        font-size: 1.1rem;
    }
}
@media (min-width: 1280px) {
     .photos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;

  }
  .card {
    margin: 0;
  }

}
